{% extends 'base.html.twig' %}

{% block title %}Catalogue...{% endblock %}

{% block body %}
  
{# <img src="{{ asset('images/produit/1.jpeg') }}" class="background--page" alt="..."> #}

    <h1 class="text-center">Notre catalogue</h1>

    {# Ajout de produit / ADMIN #}
    {% if is_granted('ROLE_ADMIN') %}
            <button type="button" class="btn btn-light btn-block m-1">
                <a href="{{ path('products_new') }}">ADMIN : <i class="bi bi-box-seam"> Insérer un nouveau produit.</i></a>
            </button>
        {% else %}
    {% endif %}

    {# Tableau de base (BACKUP) #}
    <h6>
    <small>
    <table class="table text-center table-striped table-warning">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Article</th>
                {# <th>CategoryID</th> #} 
                <th>Description</th>
                <th>Prix</th>
                {# <th>UnitsInStock</th> #}
                {# <th>UnitsOnOrder</th> #}
                {# <th>ReorderLevel</th> #}
                <th>En stock ?</th>
                <th>Voir</th>
                <th>Rajouter</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr class="">
                {# <td>{{ product.id }}</td> #}
                <td>{{ product.ProductName }}</td>
                {# <td>{{ product.CategoryID }}</td> #} 
                <td>{{ product.QuantityPerUnit }}</td>
                <td>{{ product.UnitPrice }}</td>
                {# <td>{{ product.UnitsInStock }}</td> #}
                {#  <td>{{ product.UnitsOnOrder }}</td> #}
                {# <td>{{ product.ReorderLevel }}</td> #}
                <td>{{ product.Discontinued ? '<i class="bi bi-check-circle-fill ok-icon"></i>' : '<i class="bi bi-x-octagon no-icon"></i>' }}</td>   
                <td>
                    <a href="{{ path('products_show', {'id': product.id}) }}"><i class="bi bi-info-circle-fill icon-view"></i></a>
                    {# <a href="{{ path('products_edit', {'id': product.id}) }}">edit</a> #}
                </td>
                <td>
                    <a href="{{ path('cart_add',{'id': product.id}) }}"><i class="bi bi-cart4 icon-buy"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement dans le catalogue</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
    </small>
    </h6>
    {# Cadres produit #}
    <div class="container">
        <div class="card-columns">
            {% for product in products %}
                
                <div class="card p-3">
                    {# Nom du produit & catégorie #}
                    <h5 class="card-title text-center">
                        <mark>
                            {{ product.ProductName }}
                        </mark>
                        <br>
                        <small>
                            {{ product.SupplierID }}
                        </small>                        
                    </h5>
                    {# Image produit avec lien #}
                    <a href="{{ path('products_show', {'id': product.id}) }}">                            
                        <img class="card-img-top" src="/images/produit/{{product.Picture}}" width="90 %" alt="Image produit">
                    </a>
                    {# Categorie #}
                    <small class="text-center">
                        {{ product.CategoryID }}
                    </small>
                    <div class="card-body">                      
                        {# Description / Conditionnement #}
                        <p class="card-text">
                            {{ product.QuantityPerUnit }}
                        </p>
                    </div>
                    {# Prix #}
                    <div class="text-center card bg-warning p-2">
                        <h2>
                            {{ product.UnitPrice|number_format(2) }} €
                        </h2>
                    </div>
                    {# Achat, Informations et Disponibilité #}
                    <div class="card-footer">
                        <h2>
                            <small class="text-muted float-right">
                                {{ product.Discontinued ? '<i class="bi bi-check-circle-fill ok-icon"> En stock</i>' : '<i class="bi bi-x-octagon no-icon"> Non disponible</i>' }}
                            </small>
                            
                            {# 
                            <small class="text-muted">
                                <a href="{{ path('products_show', {'id': product.id}) }}"><i class="bi bi-info-circle-fill icon-view"></i></a>
                            </small>
                            #}
                        
                            <small class="text-muted float-left">                            
                                <a href="{{ path('cart_add',{'id': product.id}) }}"><i class="bi bi-cart4 icon-buy"></i></a>
                            </small>
                        </h2>
                    </div>
                </div>
                {% else %}
                    Aucun enregistrement dans le catalogue ! 
                    <br>
                    Contactez votre fournisseur.
            {% endfor %}
        </div>
    </div>
  
{% endblock %}
