{% extends 'base.html.twig' %}

{% block title %}Catalogue...{% endblock %}

{% block body %}
    <style>
        .icon-view { color: #0000FF; }
        .icon-buy { color: #000000; }
        .ok-icon { color: #0000FF; }
        .no-icon { color: #FF0000; }
    </style>

{# <img src="{{ asset('images/produit/1.jpeg') }}" class="background--page" alt="..."> #}



    <h1 class="text-center">Notre catalogue</h1>
    <table class="table text-center">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Article</th>
                {# <th>CategoryID</th> #} 
                <th>Description</th>
                <th>Prix</th>
                {# <th>UnitsInStock</th> #}
                {# <th>UnitsOnOrder</th> #}
                {# <th>ReorderLevel</th> #}
                <th>En stock ?</th>
                <th>Voir</th>
                <th>Rajouter</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                {# <td>{{ product.id }}</td> #}
                <td>{{ product.ProductName }}</td>
                {# <td>{{ product.CategoryID }}</td> #} 
                <td>{{ product.QuantityPerUnit }}</td>
                <td>{{ product.UnitPrice }}</td>
                {# <td>{{ product.UnitsInStock }}</td> #}
                {#  <td>{{ product.UnitsOnOrder }}</td> #}
                {# <td>{{ product.ReorderLevel }}</td> #}
                <td>{{ product.Discontinued ? '<i class="bi bi-check-circle-fill ok-icon"></i>' : '<i class="bi bi-x-octagon no-icon"></i>' }}</td>
    
                <td>
                    <a href="{{ path('products_show', {'id': product.id}) }}"><i class="bi bi-info-circle-fill icon-view"></i></a>
                    {# <a href="{{ path('products_edit', {'id': product.id}) }}">edit</a> #}
                </td>
                <td>
                    <a href="{{ path('cart_add',{'id': product.id}) }}"><i class="bi bi-cart4 icon-buy"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement dans le catalogue</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# Ajout de produit / ADMIN #}
    <button type="button" class="btn btn-light btn-block">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('products_new') }}">ADMIN : <i class="bi bi-box-seam"> Insérer un nouveau produit.</i></a>
        {% else %}
            2021 
        {% endif %}
    </button>

{% endblock %}
