{% extends 'base.html.twig' %}

{% block title %}Détails du produit{% endblock %}

{% block body %}

    <div class="container">
        <h1>Details de...</h1>

        {# IMAGE TEST 
            <img src="{{ asset('/images/produit/1.jpeg') }}" class="..." alt="...">
        #}

        <br>
        <br> 

        <h2 class="text-center"> {{ product.ProductName }} </h2>

        <br>
        <br> 

        <table class="table table-bordered">
            <tbody>
                 <tr>
                    <th>Image</th>
                    <td>
                        {#{ product.Picture }#}
                       <img src="/images/produit/{{product.Picture}}" width="90 %" class="Photo du produit" alt="Photo du produit">
                    </td>
                </tr>
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Id</th>
                        <td>{{ product.id }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Nom du produit</th>
                    <td>{{ product.ProductName }}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ product.CategoryID }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ product.QuantityPerUnit }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ product.UnitPrice }}</td>
                </tr>
                <tr>
                    <th>UnitsInStock</th>
                    <td>{{ product.UnitsInStock }}</td>
                </tr>
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>UnitsOnOrder</th>
                        <td>{{ product.UnitsOnOrder }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>ReorderLevel</th>
                        <td>{{ product.ReorderLevel }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Discontinued</th>
                        <td>{{ product.Discontinued ? 'Oui' : 'Non' }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        {# Editer ou Supprimer / ADMIN #}
       
        {% if is_granted('ROLE_ADMIN') %}
            <button type="button" class="btn btn-light btn-block">
                <a href="{{ path('products_edit', {'id': product.id}) }}">ADMIN : <i class="bi bi-box-seam"> Modifier la fiche produit.</i></a>   
                {{ include('products/_delete_form.html.twig') }}
        {% else %}
            {# 2021 HBg #}
        {% endif %}

        {# Retour #}
        <i class="bi bi-box-arrow-in-up-left icon-back"><a href="{{ path('products_index') }}"> Retour au catalogue</a></i>
    </div>
{% endblock %}
