{% extends 'base.html.twig' %}

{% block title %}Portail client{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Connecté sous... {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnecter</a>
        </div>
    {% endif %}

    <h1 class="text-center"> Portail client </h1>

    <div class="container">
      
        <div class="card-group">
            {# Fenetre gauche #}
            <div class="card bg-warning pl-4 pr-4 pb-4 pt-4">
                <strong>A votre écoute...</strong>
                <br>
                Que vous soyez un particulier ou un club, nos conseillers restent à votre disposition 
                pour toute demande. <br><br>
                Ouvrez un compte client ou connectez-vous pour accéder à votre panier et consulter le suivi des commandes.<br>
                {# OU enregistrement #}
                <div>
                    <button class="btn btn-sm btn-light ml-4 mr-4 type="submit"" type="submit">
                        <a href="{{ path('app_register') }}"> Ouvrir un compte client</a>  
                    </button>
                </div>
                Nous demander pour toute intervention ou réglage matériel au
                <br>
                <strong>06 15 23 14 36</strong>
                <br><br>
                Nos techniciens qualifiés restent à votre écoute. Des frais supplémentaires peuvent
                être ajoutés.
            </div>

            {# Connection #}
            <div class="row justify-content-center align-items-center text-center">
                
                <div class="card bg-warning ml-4 pl-4 pr-4 pb-4 pt-4">
                    <h2>CONNECTION</h2>
                    <label for="inputUsername">E-mail</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                    <br>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}">

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html  
                    <div class="checkbox mb-3 text-left">
                        <label>
                            <input type="checkbox" name="_remember_me"> Rester connecté
                        </label>
                    </div>
                    #}
                    <br>
                    <h6>
                        <button class="btn btn-sm btn-dark mr-4 float-right" type="submit">
                            <i class="bi bi-check-circle"> Valider</i>
                        </button>
                    </h6>
                </div>
            </div>
        
        </div>
        
    </div>

</form>
{% endblock %}
