<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ArcAmiens{% endblock %}</title>

        <!-- Bootsrap liens -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Icone bootsrap lien complet -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- Fonts, labeur -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
        <!-- Fonts, titres -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        {# Styles #}
        <style>
            {# Style IMAGE #}
            img { max-width: 100%; height: auto;  margin: 0 auto;}
            {# Styles BODY #}
            body{ 
                background-color: #DBDBDB; 
                background-image:url(/images/Fond.jpeg);
                background-attachment:fixed;
                font-family: 'Josefin Sans', sans-serif; 
                font-size: 18px;
            }
            {# Styles POLICE #}
            h1,h2 {font-family: 'Anton', sans-serif; }
            h3,h4,h5,h6 {
               font-family: 'Josefin Sans', sans-serif; 
               }
            p {
                font-family: 'Josefin Sans', sans-serif; 
            }
            {# Style LETTRINE #}
            p::first-letter {
                color: red;
                font-size: 130%;
            }
            {# Styles ICONES #}
            .icon-view { color: #0000FF; }
            .icon-buy { color: #FF0000; }
            .ok-icon { color: #0000FF; }
            .no-icon { color: #FF0000; }
            .icon-back { color: #FFC300; }
            {# Styles STABILO #}
            mark {
                background-color: yellow;
                color: black;
            }
        </style>
        
    </head>
    <body>
        <div class="container">
            <!-- NavBar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-warning rounded-circle">
                <a class="navbar-brand" href="{{ path('home') }}"><i class="bi bi-house-fill"> Accueil </i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('products_index') }}"><i class="bi bi-shop"> Notre catalogue </i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cart') }}"><i class="bi bi-basket-fill"> Panier </i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}"><i class="bi bi-clipboard-check"> Espace client </i></a>
                        </li>
                        {# Logout si login #}
                        <li>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}                                       
                                <div class="col">
                                    <button type="button" class="btn btn-danger btn-block float-right">                                                                        
                                        <a href="{{ path('app_logout') }}"> Se deconnecter</a>                                      
                                    </button>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                {# Logo #}
                <img src="/images/LogoFA.png" alt="Logo du site, blason et nom" class="float-right" width="150">       
            </nav>
                {# Verifie si qqn est connecté #}
            {% if app.user %}
                <div class="text-center card mb-4">
                        Connecté sous : 
                        {{ app.user.username }}
                </div>
            {% endif %}
        <div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
        
        <!-- Bootsrap liens -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}    

    </body>

    <br>
    <footer>
        <nav class="navbar navbar-expand-lg navbar-light bg-warning rounded">
            <h5>HBg Amiens Archerie 2021</h5>
        </nav>
    </footer>
</html>
